.get-started {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.get-started .box-1 {
    width: 43vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.clip-path-group {
    display: flex;
    width: 15.76988rem;
    flex-direction: row;
    align-items: center;
    gap: 0.625rem;
}

.clip-path-group .company-name {
    color: var(--main-1200, #9597A6);
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.symbol {
    display: flex;
    width: 26.625rem;
    padding: 5rem 0rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 5rem;
    flex-shrink: 0;
}

.symbol .frame {
    display: flex;
    padding: 0rem 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5625rem;
    align-self: stretch;
}

.symbol .frame .were-animal-lovers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    align-self: stretch;
}

.get-started .box-2 {
    height: 100vh;
    width: 57vw;
    background-color: #F7ECEB;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.get-started .frame-wrapper {
    background-size: 100% 100%;
    border: 1px none;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.get-started .p {
    color: var(--main-1200, #9597A6);
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media (min-height: 900px) {
    .get-started .frame {
        gap: 3.375rem;
    }
}