.profile-picture-div {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex: 1 0 0;
    align-self: stretch;
}

.profile-picture-text {
    color: var(--main-1200, #9597A6);
    /* Body */
    font-family: Inter;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.profile-picture-circle {
    width: 4.37881rem;
    height: 4.37881rem;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid var(--main-1200, #DADBE6);
}

.profile-picture-label {
    position: relative;
}

.profile-picture-input {
    display: none;
}

.profile-picture-preview {
    max-width: 100%;
    max-height: 100%;
    display: block; /* Add this line */
    margin: auto; /* Add this line to center the image */
}
