.button-app {
    border-radius: 0.75rem;
    gap: 0.625rem;
    padding: 1rem;
    position: relative;
    box-sizing: border-box;
    font-family: Inter;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: center;
    color: var(--main-1200, #9597A6);
    background-color: var(--main-1200, #DADBE6);
}

.button-app:enabled,
.button-app:focus-visible:enabled {
    background-color: #EBD0CE;
    color: var(--main-1400, #545871);
}

.secondary:enabled,
.secondary {
    border-radius: 0.75rem;
    border: 1px solid var(--main-1200, #DADBE6);
    background: #FFF;
}