body {
  color: var(--main-1400, #545871);
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h1 {
  color: var(--main-1400, #545871);
  /* H1 */
  font-family: Inter;
  font-size: 3.375rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0rem;
}

@media screen and (min-width: 600px) {
  h1 {
    font-size: 3.75rem;
  }
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 6rem;
  }
}

@media screen and (min-width: 2000px) {
  h1 {
    font-size: 11.25rem;
  }
}

h2 {
  color: var(--main-1400, #545871);
  /* H2 */
  font-family: Inter;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0rem;
}

h3 {
  color: var(--main-1400, #545871);
  /* H3 */
  font-family: Inter;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0rem;
}

h4 {
  color: var(--main-1400, #545871);
  /* H4 */
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0rem;
}