<h1 class="email-header">Change your email address</h1>

<p>
It looks like you're attempting to change your email address for your Remote account to <%= @unconfirmed_email %>.
To confirm this new email address and make the change, click the link below.
</p>

<div class="email-button">
  <%= link "Confirm email", to: @confirmation_url %>
</div>
