<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
  <html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Remote</title>
    <style>
      * {
        font-family: "Inter", sans-serif;
      }

      h1 {
        color: #624DE3;
      }

      *,
      p {
        color: #525F7F;
      }

      img {
        max-width: 100%;
      }

      body {
        -webkit-font-smoothing: antialiased;
        -webkit-text-size-adjust: none;
        width: 100% !important;
        height: 100%;
      }

      a,
      .accent{
        color: #624DE3;
        text-decoration: none;
      }


      .email-header {
        text-align: center;
        margin: 0 auto 45px;
        max-width: 426px;
        font-size: 24px;
        font-weight: 500;
        line-height: 1.33;
        color: #00234B;
      }

      .email-subheader-centered {
        text-align: center;
        max-width: 426px;
        margin: 0 auto 0;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.57;
        color: #00234B;
      }

      .email-subheader-link {
        text-decoration: underline;
      }

      .email-button {
        text-align: center;
      }

      .email-button > a {
        background-color: #624DE3;
        color: white;
        border-radius: 50px;
        padding: 16px 75px;
        text-align: center;
        display: inline-block;
        cursor: pointer;
        font-weight: 500;
        line-height: 1.57;
        margin: 34px 0;
      }

      .secondary-cta {
        margin: 0 0 34px 0;
      }

      .email-value-changed {
        color: #B1BECD;
      }

      .email-callout-box {
        background-color: rgba(214, 230, 253, 0.15);
        border-radius: 10px;
        color: #525F7F;
        padding: 32px;
      }

      .content-wrapper {
        background-color: #FFFFFF;
        padding: 60px 60px;
        margin: 0 auto 30px;
        max-width: 640px;
        box-shadow: 5px 12px 36px rgba(0, 35, 75, 0.03);
        border-radius: 10px;
      }

      @media (max-width: 500px) {
        .content-wrapper {
          padding: 60px 30px !important;
        }
      }

      .email-background {
        background-color: #F8FBFF;
      }

      .email-text-accent {
        color: rgba(0, 35, 75, 0.6);
        font-weight: normal;
        font-size: 16px;
        line-height: 1.5;
      }

      /* Settings For Dark Mode */
      @media (prefers-color-scheme: dark) {
        *,
        p {
          color: #535062;
        }

        .email-background {
          background-color: #F8FBFF;
        }

        .content-wrapper {
          background-color: #FFFFFF;
        }

        .email-header {
          color: #00234B;
        }
      }
    </style>
  </head>

  <body style="background-color: #FFFFFF; padding: 0; margin: 0;">
    <div class="email-background" style="font-size: 16px; line-height: 1.5; color: rgba(0, 35, 75, 0.6); overflow: hidden;">

      <!-- Remote Logo -->
      <div>
        <a href="https://remote.com">
          <img
            class="remote-logo-header"
            src="https://employ-production-assets.s3.amazonaws.com/emails/shared/icons/remote_logo_2022.png"
            alt="" width="135" style="display: block; margin: 0 auto 0; padding: 7% 0 30px 0;">
        </a>
      </div>

      <!-- Main Content -->
      <div class="content-wrapper">
        <%= if assigns[:email_image] do %>
          <img src="https://employ-production-assets.s3.amazonaws.com/emails/<%= @email_image %>" alt="email-image"
            height="103" style="display: block; margin: 0 auto 45px;">
        <% else %>
          <!-- Mailbox Image -->
          <img src="https://employ-production-assets.s3.amazonaws.com/emails/invite_employee/mailbox.png" alt="mailbox"
            height="103" style="display: block; margin: 0 auto 45px;">
        <% end %>

        <%= @inner_content %>
      </div>

      <!-- Footer -->
      <div style="max-width: 400px; margin: 0 auto;">
        <p style="margin-bottom: 30px; text-align: center; letter-spacing: 0.02em; text-transform: uppercase; font-weight: 500; font-size: 14px; line-height: 1.21; color: #778CA3;">
          Follow us
        </p>
        <div style="text-align: center;">
          <a href="https://www.youtube.com/channel/UCPJsrP8zyttajAybEMQBNgA">
            <img
              src="https://employ-production-assets.s3.amazonaws.com/emails/shared/social/youtube_new.png"
              alt="Youtube"
              height="42">
          </a>
          <a href="https://www.facebook.com/remote/">
            <img
              src="https://employ-production-assets.s3.amazonaws.com/emails/shared/social/facebook_new.png"
              alt="Facebook"
              height="42"
              style="margin-left: 10px">
          </a>
          <a href="https://twitter.com/remote">
            <img
             src="https://employ-production-assets.s3.amazonaws.com/emails/shared/social/twitter_new.png"
             alt="Twitter"
             height="42"
             style="margin-left: 10px">
          </a>
          <a href="https://www.instagram.com/remote/">
            <img
             src="https://employ-production-assets.s3.amazonaws.com/emails/shared/social/instagram_new.png"
             alt="Instagram"
             height="42"
             style="margin-left: 10px">
          </a>
        </div>
        <span
          style="display: inline-block; width: 100%; margin-top: 57px; text-align: center; font-weight: 500; line-height: 1.57; letter-spacing: 0.05em; color: #525F7F; text-transform: uppercase;">
          Feel closer, grow further.</span>
        <span
          style="display: inline-block; width: 100%; margin-top: 52px; margin-bottom: 30px; text-align: center; font-size: 13px; line-height: 1.61; text-align: center; color: #778CA3;">
          Copyright © <%= Date.utc_today().year %> Remote Technology Inc. All rights reserved.</span>
      </div>
    </div>
  </body>

  </html>
